body {
    margin: 0px;
}

/***** Header *****/
header {
    height: 508px;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1507608869274-d3177c8bb4c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    display: flex;
    justify-content: center;
    margin-bottom: 3px;
}

.header-container {
    width: 357px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin: 12% 40px 0px 40px;
}

.header-icons-container {
    display: flex;
    margin: 0px;
}

.header-icons {
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    height: 39px;
    width: 39px;
    margin: 3px;
}

.header-icons img {
    height: 19px;
    width: 17px;
    padding: 11px;
}

.header-icons:hover {
    opacity: 0.7;
}

.header-text {
    color: #FFFFFF;
    align-self: flex-start;
}

.header-text h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    margin: 0px;
}

.header-text h1 span {
    font-weight: bold;
}

.header-text h2 {
    font-family: 'Montserrat', sans-serif, bold;
    font-size: 40px;
    margin: 0px;
}

.header-text h3 {
    font-family: 'Montserrat', sans-serif, bold;
    font-size: 24px;
    margin: 10px 0px 0px 0px;
}

.profile-pic {
    background-image: url(https://images.unsplash.com/photo-1490718720478-364a07a997cd?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    height: 162px;
    width: 162px;
    margin: -10px;
}


/***** Sections *****/
section {
    padding: 50px 0px;
}

.section-container {
    width: 80%;
    margin: 40px auto 20px auto;
}

.grey {
    background-color: #F4F4F4;
}

h4 {
    font-family: 'Montserrat', sans-serif, bold;
    display: table;
    margin: 0px auto 0px auto;
    padding: 1px 3px;
}

.heading-red {
    background-color: #FA382F;
    color: #FFFFFF;
    font-size: 22px;
}

.heading-white {
    color: #FA382F;
    font-size: 21px;
    margin-top: 50px;
}

.portfolio-section p {
    font-size: 18px;
    line-height: 29px;
    color: black;
}

section a:link {
    text-decoration: none;
}

section a:hover {
    opacity: 0.7;
    text-decoration: underline;
    color: rgba(250, 57, 47, 0.39);
}


/* Personal presentation + Tech */
.personal-presentation {
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}

.line-dot {
    height: 3px;
    width: 50px;
    background-color: #FA382F;
    position: relative;
    float: left;
    top: 12px;
    margin-right: 10px;
}

.line-dot::after {
    height: 11px;
    width: 11px;
    background-color: #FA382F;
    border-radius: 50%;
    position: relative;
    content: "";
    float: right;
    top: -4px;
}

.content {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


/* Projects */
.project-cards {
    font-family: 'Roboto', sans-serif;
}

.project-cards img {
    width: 100%;
    height: 60%
}

.project-title {
    font-weight: bold;
    color: #FA382F;
}

.project-title-arrows {
    font-weight: bold;
    color: #FA382F;
    text-decoration: underline;
}

.code-language-cards-container {
    display: flex;
    justify-content: flex-start;
}

.code-language-cards {
    background-color: #FDDFE7;
    color: #2B2E34;
    font-size: 10px;
    margin: 3px;
    padding: 3px 5px;
}

.featured-projects {
    display: flex;
    flex-direction: column;
}

.featured-cards {
    display: none;
}


/* My thoughts */
.thoughts-cards {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.thoughts-cards img {
    width: 100%;
}

.thoughts-title {
    font-weight: lighter;
    color: #FA382F;
}

.thoughts-text {
    font-weight: lighter;
    text-align: justify;
}

.my-thoughts {
    display: flex;
    flex-direction: column;
}

.my-thoughts-card {
    display: none;
}

/* Skills */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skills-container div {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    margin-bottom: 15px;
}

h5 {
    font-family: 'Roboto', sans-serif, bold;
    color: #FA382F; 
    margin: 0px;
    font-size: 18px;
}

ul {
    list-style-type: none;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

/* For more */
.section-icons {
    display: flex;
    justify-content: center;
}

.section-icons a:link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 102px;
}

.section-icons-div {
    border: 3px solid #FF0000;
    border-radius: 50%;
    height: 58px;
    width: 58px;
}

.section-icons-div img {
    padding: 19px;
    height: 22px;
    width: 20px;
}

h6 {
    font-family: 'Montserrat', sans-serif, bold;
    color: #FA382F; 
    margin: 15px 0px;
}

/***** Footer *****/
footer {
    background-color: #072BCE;
    color: #FFFFFF;
    height: 266px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading-footer {
    font-size: 21px;
    margin-bottom: 10px;
}

.contact-info {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    margin: 5px 0px;
    color: #FFFFFF;
    text-decoration: none;
}

.contact-info span {
    font-weight: bold;
}


/***** Media Queries *****/
@media (min-width: 768px) { 
    .header-container {
        width: 461px;
    }

    .section-container {
        width: 60%;
        margin: 40px auto 20px auto;
    }

    .featured-projects {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .featured-cards-all, .my-thoughts-card-all {
        width: 45%;
    }
    
    .featured-cards, .my-thoughts-card {
        display: initial;
    }

    .my-thoughts {
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 1024px) {
    header {
        margin-bottom: 8px;
    }

    .header-container {
        width: 600px;
    }

    .header-text h1, .portfolio-section p, .contact-info {
        font-size: 20px;
    }
    
    .header-text h2 {
        font-size: 55px;
    }
    
    .header-text h3 {
        font-size: 30px;
    }

    .profile-pic {
        height: 180px;
        width: 180px;
    }

    .header-icons {
        height: 50px;
        width: 50px;
    }
    
    .header-icons img {
        height: 29px;
        width: 27px;
        padding: 11px;
    }
    
    .section-container {
        width: 43%;
    }

    .featured-projects, .my-thoughts {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .featured-cards-all, .my-thoughts-card-all {
        width: 45%;
    }

    .skills-container {
        width: 80%;
    }

    .skills-container div {
        width: 20%;
    }

    .section-icons-div {
        height: 70px;
        width: 70px;
    }
    
    .section-icons-div img {
        padding: 20px;
        height: 32px;
        width: 30px;
    }

    .heading-footer {
        font-size: 23px;
    }
}

@media (min-width: 1440px) {
    header {
        height: 600px;
        background-image: url(https://images.unsplash.com/photo-1507608869274-d3177c8bb4c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
        background-size: contain;
    }

    .header-container {
        margin-bottom: 0px;
        margin-top: 100px;
    }

    .header-icons {
        height: 57px;
        width: 57px;
    }
    
    .header-icons img {
        height: 35px;
        width: 33px;
    }

    .profile-pic {
        height: 200px;
        width: 200px;
        margin: -15px;
    }

    .section-container {
        width: 30%;
    }

    .featured-projects, .my-thoughts {
        width: 40%;
    }

    .featured-cards-all, .my-thoughts-card-all {
        width: 45%;
    }
}