body {
    margin: 0px;
}

/***** Header *****/
header {
    position: relative;
    height: 508px;
    display: flex;
    justify-content: center;
    margin-bottom: 3px;
}

.hero-image {
    position: absolute;
    top: 0; 
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(assets/yellow-wall.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(35%);
}

.header-container {
    position: relative;
    width: 357px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin: 12% 40px 0px 40px;
}

.header-icons-container {
    display: flex;
    margin: 0px;
}

.header-icons {
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 3px;
    box-shadow: 1px 1px 1px rgb(173, 141, 0);
}

.header-icons img {
    height: 23px;
    width: 21px;
    padding: 12px 14px;
}

.header-icons:hover {
    opacity: 0.7;
}

.header-text {
    color: #FFFFFF;
    text-shadow: 1px 1px 1px rgb(136, 104, 0);
    align-self: flex-start;
}

.header-text h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    margin: 0px;
}

.header-text h1 span {
    font-weight: bold;
}

.header-text h2 {
    font-family: 'Montserrat', sans-serif, bold;
    font-size: 40px;
    margin: 0px;
}

.header-text h3 {
    font-family: 'Montserrat', sans-serif, bold;
    font-size: 24px;
    margin: 10px 0px 0px 0px;
}

.profile-pic {
    background-image: url(assets/profilepic.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(140, 160, 160);
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    height: 162px;
    width: 162px;
    margin: -10px;
}


/***** Sections *****/
section {
    padding: 50px 0px;
}

.section-container {
    width: 80%;
    margin: 40px auto 20px auto;
}

.grey {
    background-color: rgba(247, 144, 113, 0.05);
}

h4 {
    font-family: 'Montserrat', sans-serif, bold;
    display: table;
    margin: 0px auto 0px auto;
    padding: 1px 3px;
}

.heading-red {
    background-color: #f37777;
    color: #FFFFFF;
    font-size: 22px;
}

.heading-white {
    color: #16817a;
    font-size: 21px;
    margin-top: 50px;
}

.portfolio-section p {
    font-size: 18px;
    line-height: 29px;
    color: black;
}

section a:link {
    text-decoration: none;
}

section a:hover {
    opacity: 0.7;
    text-decoration: underline;
    color: #f37777;
}

/* Personal presentation + Tech */
.personal-presentation {
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}

.line-dot {
    height: 3px;
    width: 50px;
    background-color: #f37777;
    position: relative;
    float: left;
    top: 12px;
    margin-right: 10px;
}

.line-dot::after {
    height: 11px;
    width: 11px;
    background-color: #f37777;
    border-radius: 50%;
    position: relative;
    content: "";
    float: right;
    top: -4px;
}

.content {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.content span {
    color: #f37777;
}


/* Projects */
.project-cards {
    font-family: 'Roboto', sans-serif;
}

.project-image-container {
    width: 100%;
    height: 232px;
    position: relative;
}

.project-cards img {
    width: 100%;
    height: 100%;
    filter: grayscale(50%)
}

.filter-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(95, 93, 93, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-image:hover {
    opacity: 0.5;
}

.filter-image h6 {
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);;
}

.project-title {
    font-weight: bold;
    color: #f37777;
}

.project-title-arrows {
    font-weight: bold;
    color: #f37777;
    text-decoration: underline;
}

.code-language-cards-container {
    display: flex;
    justify-content: flex-start;
}

.code-language-cards {
    background-color: white;
    color: #16817a;
    border: teal 1px solid;
    border-radius: 4px;
    font-size: 12px;
    margin: 3px;
    padding: 3px 5px;
}

.featured-projects {
    display: flex;
    flex-direction: column;
}

.featured-cards {
    display: none;
}

/* My thoughts */
.thoughts-cards {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.thoughts-cards img {
    width: 100%;
    height: 232px;
}

.thoughts-title {
    font-weight: lighter;
    color: #f37777;
}

.thoughts-text {
    font-weight: lighter;
    text-align: justify;
}

.my-thoughts {
    display: flex;
    flex-direction: column;
}

.my-thoughts-card {
    display: none;
}

/* Skills */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skills-container div {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    margin-bottom: 15px;
}

h5 {
    font-family: 'Roboto', sans-serif, bold;
    color: #16817a; 
    margin: 0px;
    font-size: 18px;
}

ul {
    list-style-type: none;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

/* For more */
.section-icons {
    display: flex;
    justify-content: center;
}

.section-icons a:link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 102px;
}

.section-icons-div {
    border: 3px solid #16817a;
    border-radius: 50%;
    height: 58px;
    width: 58px;
}

.section-icons-div img {
    padding: 19px;
    height: 22px;
    width: 20px;
}

h6 {
    font-family: 'Montserrat', sans-serif, bold;
    color: #16817a; 
    margin: 15px 0px;
    font-size: 11px;
}

/***** Footer *****/
footer {
    background-color: #024249;
    color: #FFFFFF;
    height: 266px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading-footer {
    font-size: 21px;
    margin-bottom: 10px;
}

.contact-info {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    margin: 5px 0px;
    color: #FFFFFF;
    text-decoration: none;
}

.contact-info span {
    font-weight: bold;
}


/***** Media Queries *****/
@media (min-width: 768px) { 
    .header-container {
        width: 461px;
    }

    .section-container {
        width: 60%;
        margin: 40px auto 20px auto;
    }

    .featured-projects {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .featured-cards-all, .my-thoughts-card-all {
        width: 45%;
    }
    
    .featured-cards, .my-thoughts-card {
        display: initial;
    }

    .featured-cards {
        margin-bottom: 50px;
    }

    .other-cards, .more-thought {
        display: none;
    }

    .my-thoughts {
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 1024px) {
    header {
        margin-bottom: 8px;
    }

    .header-container {
        width: 700px;
    }

    .header-text h1 {
        font-size: 25px;
    }
    
    .header-text h2 {
        font-size: 70px;
    }
    
    .header-text h3 {
        font-size: 30px;
    }

    .profile-pic {
        height: 200px;
        width: 200px;
    }

    .header-icons {
        height: 65px;
        width: 65px;
    }
    
    .header-icons img {
        height: 38px;
        width: 36px;
        padding: 12px 14px;
    }
    
    .portfolio-section p, .contact-info {
        font-size: 20px;
    }

    .section-container {
        width: 43%;
    }

    .featured-projects, .my-thoughts {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .featured-cards-all, .my-thoughts-card-all {
        width: 45%;
    }

    .skills-container {
        width: 80%;
    }

    .skills-container div {
        width: 20%;
    }

    .section-icons-div {
        height: 70px;
        width: 70px;
    }
    
    .section-icons-div img {
        padding: 20px;
        height: 32px;
        width: 30px;
    }

    .heading-footer {
        font-size: 23px;
    }
}

@media (min-width: 1440px) {
    header {
        height: 600px;
    }

    .header-container {
        margin-bottom: 0px;
        margin-top: 100px;
    }

    .profile-pic {
        height: 200px;
        width: 200px;
        margin: -15px;
    }

    .section-container {
        width: 40%;
    }

    .featured-projects, .my-thoughts {
        width: 50%;
    }

    .featured-cards-all, .my-thoughts-card-all {
        width: 45%;
    }
}